<%- include("partials/header") %>

<a href="/" class="back-btn">← Back</a>

<div class="form-container">
  <h2 class="todo-title">Add Todo</h2>
  <form action="/add-todo" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" placeholder="Type todo here" required />
    </div>

    <div class="form-group">
      <label for="desc">Description</label>
      <input type="text" name="desc" placeholder="Type description here" required />
    </div>

    <div class="form-group">
      <button type="submit" class="btn">Save</button>
    </div>
  </form>
</div>

<%- include("partials/footer") %>
